ODOO_WORKERS="0"
ODOO_DATABASE_HOST="${{Postgres.PGHOST}}"
ODOO_DATABASE_NAME="${{Postgres.PGDATABASE}}"
ODOO_DATABASE_PASSWORD="${{Postgres.PGPASSWORD}}"
ODOO_DATABASE_PORT="${{Postgres.PGPORT}}"
ODOO_DATABASE_USER="${{Postgres.PGUSER}}"
ODOO_PROXY_MODE="True"
ODOO_EMAIL_FROM="Odoo <${{ODOO_SMTP_USER}}>"
ODOO_SMTP_HOST="smtp.<your-email-provider>.com"
ODOO_SMTP_PASSWORD="your-app-password"
ODOO_SMTP_PORT_NUMBER="465"
ODOO_SMTP_USER="your-email@example.com"
RAILWAY_RUN_UID="0"
